<link
  rel="preload"
  href="{{ 'section-founders-cards.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>{{ 'section-founders-cards.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .moreText {
    display: none;
  }
</style>


<div class="founders-cards">
  <div class="wrapper-padded show-on-scroll">
    <div class="grid">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'card' %}
            <div class="founder-info">
              {% if block.settings.image %}
                <img
                  class="photo"
                  src="{{ block.settings.image | image_url }}"
                  alt="founder">
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'photo' }}
              {% endif %}
              <div class="name">{{ block.settings.name }}</div>
              <div class="description">
                {% assign original_string = block.settings.quote %}
                {% assign truncated_string = original_string | truncate: 80, "" %}
                {% assign truncated_length = truncated_string | size %}
                {% assign remaining_string_start = truncated_length %}
                {% assign remaining_string = original_string | slice: remaining_string_start, original_string.size %}

                <p>
                  {{ truncated_string }}
                  <span class="points">...</span>

                  <span class="moreText">
                    {{ remaining_string }}
                  </span>
                </p>
              </div>
              <div class="read-more textButton onTextButton">
                Show more
              </div>
            </div>
        {% endcase %}

      {% else %}
        {% for i in (1..3) %}
          <div class="founder-info">
            {{ 'product-1' | placeholder_svg_tag: 'photo' }}
            <div class="name">Name</div>
            <div class="description">Quote</div>

            <div class="read-more">Show more</div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
        function toggleText(element) {
          let points =
                element.querySelector(".points");
   
            let showMoreText =
                element.querySelector(".moreText");
   
            let buttonText =
                element.querySelector(".textButton");
   

            if (points.style.display === "none") {
                showMoreText.style.display = "none";
                points.style.display = "inline";
                buttonText.innerHTML = "Show More";
            }
            else {
                showMoreText.style.display = "inline";
                points.style.display = "none";
                buttonText.innerHTML = "Show Less";
            }
        }

        document.querySelectorAll('.onTextButton').forEach(button => {
          button.addEventListener('click', (e) => {
            const node = e.target.parentElement;
            toggleText(node);
          })
        })
</script>

{% schema %}
  {
    "name": "Founders Cards",
    "settings": [],
    "blocks": [
      {
        "name": "Card",
        "type": "card",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "name",
            "default": "Name:",
            "label": "Name"
          }, {
            "type": "text",
            "id": "quote",
            "label": "Quote",
            "default": "Quote"
          }
        ]
      }
    ]
  }
{% endschema %}